alias sudo='sudo ' #makes aliases available with sudo

alias ep='nvim ~/.bashrc'
alias sp='source ~/.bashrc'

alias aliases='nvim ~/.aliases'
alias c='clear'

# git
alias ga='git add '
alias gc='git commit -am'
alias gs='git status -s'
alias gst='git status '

alias ls='ls -h --color=auto'
alias ll='ls -Alh'
alias lfc="lfcd"
alias myip='curl icanhazip.com'

# start / down
alias p='poweroff'
alias po='poweroff'
alias r='reboot'
alias sus='systemctl suspend'

alias t="tgpt.sh "

alias up='sudo pacman -Syu'
alias ins='sudo pacman -S '
alias pi='ping google.com'
alias envim='cd ~/.config/nvim ; nvim ~/.config/nvim/'
alias vi='nvim'
alias ..='cd ..'
alias ...='cd ../../'

alias showenv='(set -o posix; set)'

# tmux
alias tm='tmux'
alias tmls='tmux ls'
alias tmc='
    tmux new -d -s c_ses -n w.log;
    tmux new-window -t c_ses -n editor;
    tmux split-window -h -t c_ses:1 -p 50;
    tmux split-window -v -t c_ses:1.2 -p 50;
    tmux send-keys -t c_ses:1.1 "vi ~/documents/work-log.md" C-m;
    tmux send-keys -t c_ses:1.2 "cal -m" C-m;
    tmux send-keys -t c_ses:1.3 "vi ~/documents/topics.md" C-m;
    tmux send-keys -t c_ses:2.1 "cd ~/code" C-m;
    tmux select-window -t c_ses:1.1;
    tmux attach-session -t c_ses;
'
