alias sudo='sudo ' #makes aliases available with sudo

alias ep='nvim ~/.bashrc'
alias sp='source ~/.bashrc'

alias aliases='nvim ~/.aliases'
alias c='clear'

# git
alias ga='git add '
alias gc='git commit -am'
alias gs='git status -s'
alias gst='git status '

alias ls='ls -h --color=auto'
alias ll='ls -Alh'
alias lfc="lfcd"
alias myip='curl icanhazip.com'

# start / down
alias p='poweroff'
alias po='poweroff'
alias r='reboot'
alias sus='systemctl suspend'

# tmux
alias tm='tmux'
alias tmls='tmux ls'
alias tmn='tmux new -s one -n term'

alias t="tgpt.sh "

alias up='sudo pacman -Syu'
alias ins='sudo pacman -S '
alias envim='cd ~/.config/nvim ; nvim ~/.config/nvim/'
alias vi='nvim'
alias ..='cd ..'
alias ...='cd ../../'

alias showenv='(set -o posix; set)'
